.html
{
	background: #7F7F7F url("../images/whitehp.jpg") no-repeat left top scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 669px;
	min-height: 400.9px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	padding: 36px 20px 182.10000000000002px 271px;
}

#menuu74
{
	z-index: 2;
	width: 446px;
	margin-left: 223px;
}

#u75
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
}

#u78
{
	width: 110px;
	padding-bottom: 15px;
}

#u78.MuseMenuActive
{
	margin: 0px;
}

#u81-4
{
	width: 110px;
	min-height: 19px;
	margin-right: -10000px;
	top: 7px;
}

#u78.MuseMenuActive #u81-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
}

#u123
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 112px;
}

#u127-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
}

#u136
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 224px;
}

#u140-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
}

#u420
{
	width: 110px;
	min-height: 34px;
	margin-right: -10000px;
	top: 8px;
	left: 336px;
}

#u126,#u137,#u421
{
	width: 110px;
}

#u423-4
{
	width: 110px;
	min-height: 17px;
	margin-right: -10000px;
}

#u126.MuseMenuActive #u127-4,#u137.MuseMenuActive #u140-4,#u421.MuseMenuActive #u423-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u180-4
{
	z-index: 27;
	width: 495px;
	min-height: 74px;
	line-height: 66px;
	font-size: 55px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-top: 133px;
	position: relative;
}

#u185-4
{
	z-index: 31;
	width: 400px;
	min-height: 45px;
	line-height: 26px;
	font-size: 22px;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	margin-left: 25px;
	position: relative;
}

#u186
{
	z-index: 35;
	width: 188px;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 11px;
	margin-left: 121px;
	margin-top: 67px;
	position: relative;
}

#u187-4
{
	z-index: 36;
	width: 124px;
	line-height: 26px;
	font-size: 22px;
	font-family: open-sans, sans-serif;
	font-weight: 800;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 42px;
}

#page .verticalspacer
{
	clear: both;
}

